<!-- <input type="text" [(ngModel)]="inputText"
  
  mask="d0/M0/0000"
  [showMaskTyped]="true"
/> -->
<p>{{inputText}}</p>

<!-- <signature-pad></signature-pad> -->

<!-- <ul>
	<li *ngFor="let person of people.filter(filterName) | orderBy: 'name'">{{person.name}}</li>
</ul>

<input type="text" [(ngModel)]="inputText"
(ngModelChange)="key($event)">

<button (click)="showType($event)" #button
  class="btn btn-success"
  id="btn-teste"
>Click Here</button> -->
<app-left-menu></app-left-menu>
<!-- <p>{{btn.classList}}</p> -->